@model IEnumerable<BilgeHotel.Models.Customer>

@{
    ViewData["Title"] = "Müşteri Listesi";
}

<h2>Müşteri Listesi</h2>
<a asp-action="Create" class="btn btn-primary">Yeni Müşteri Ekle</a>

<table class="table">
    <thead>
        <tr>
            <th>Ad Soyad</th>
            <th>Telefon</th>
            <th>E-posta</th>
            <th>Pasaport</th>
            <th>Adres</th>
            <th>Kimlik No</th>
            <th>Doğum Tarihi</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var customer in Model)
        {
            <tr>
                <td>@customer.FullName</td>
                <td>@customer.PhoneNumber</td>
                <td>@customer.Email</td>
                <td>@customer.Password</td>
                <td>@customer.Address</td>
                <td>@customer.IdentificationNumber</td>
                <td>@customer.DateOfBirth.ToShortDateString()</td>
            </tr>
        <td>
            <a asp-action="Edit" asp-route-id="@customer.Id" class="btn btn-warning">Düzenle</a>
            <a asp-action="Delete" asp-route-id="@customer.Id" class="btn btn-danger">Sil</a>
        </td>
        }
    </tbody>
</table>

